  .center {
        display: block;
        margin: 0 auto;
        max-width: max-content;
      }

      form * {
        margin-top: 10px;
      }

      #query, button {
        display: block;
      }